<div class="notes " ng-controller="NotesController">
  <!-- 主体 -->
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <h1 class="title col">嗨！明天</h1>

        <!-- 新建便签表单 -->
        <form ng-submit="addNote()">  

          <div class="input-group">
            <input class="form-control" type="text" ng-model="note" placeholder="梦想是你掩埋不住的才华"  autocomplete="off" x-webkit-speech>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" value="Go">+</button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <!-- 便签列表 -->
    <ul class="list row">
      <li class="label label-dream" ng-repeat="note in notes">
        <span class="delete" ng-click="deleteNote($index)">&times;</span>
        <span class="text">{{note}}</span>
      </li>
    </ul> 
</div>
</div>