/*
  Notes
 */
.notes h1.title {
  text-align: center;
}

.notes .list {
  list-style: none;
}
.notes .list li.label {
  float: left;
  
  margin: 1em;
}
.notes .list li .note {
  padding: 1em;
  line-height: 2em;
}
.notes .list li.label .delete {
  position: absolute;
}
.label.ng-enter {
  -webkit-animation: flipInX 0.5s ; /* Safari/Chrome */
  animation: flipInX 0.5s ; /* IE10+ and Future Browsers */
}
.label.ng-leave {
  -webkit-animation: flipOutX 0.5s ; /* Safari/Chrome */
  animation: flipOutX 0.5s ; /* IE10+ and Future Browsers */
}
.note-wapper.ng-enter {
  -webkit-animation: flipInX 0.5s ; /* Safari/Chrome */
  animation: flipInX 0.5s ; /* IE10+ and Future Browsers */
}
.note-wapper.ng-leave {
  -webkit-animation: flipOutX 0.5s ; /* Safari/Chrome */
  animation: flipOutX 0.5s ; /* IE10+ and Future Browsers */
}
/*
  Errors
 */
.errors {
  position: absolute;
  z-index: 99;
  text-align: center;
}
.errors .alert {
  width: 100%;
  left:0;
  margin-top:-10px;
}
.errors .alert>* {
  display: none;
}
.errors .alert:last-child * {
  display: initial;
}
.errors:hover .alert>* {
  display: initial;
}
.errors:hover .alert {
  margin-top: auto;
}
.errors .alert.ng-enter {
  -webkit-animation: fadeIn 1s linear; /* Safari/Chrome */
  animation: fadeIn 1s linear; /* IE10+ and Future Browsers */
}
.errors .alert.ng-leave {
  -webkit-animation: fadeOut 1s linear; /* Safari/Chrome */
  animation: fadeOut 1s linear; /* IE10+ and Future Browsers */
}
/*
  Delete Button
 */
.delete {
  cursor: pointer;
}

/*
 * For shit IE
 */
.jumbotron .input-group {
    line-height: 1.428571429;
}
