/*
  Notes
 */
.notes h1.title {
  text-align: center;
}

.notes .list {
  list-style: none;
}
.notes .list li.label {
  float: left;
  
  margin: 1em;
}
.notes .list li .note {
  padding: 1em;
  line-height: 2em;
}
.notes .list li.label .delete {
  position: absolute;
}

/*
  Errors
 */
.errors {
  position: absolute;
  z-index: 99;
  text-align: center;
}
.errors .alert {
  width: 100%;
  left:0;
  margin-top:-10px;
}
.errors .alert>* {
  display: none;
}
.errors .alert:last-child * {
  display: initial;
}
.errors:hover .alert>* {
  display: initial;
}
.errors:hover .alert {
  margin-top: auto;
}

/*
  Delete Button
 */
.delete {
  cursor: pointer;
}

/*
 * For shit IE
 */
.jumbotron .input-group {
    line-height: 1.428571429;
}

/*
 * 迷你日历
 */
minicalendar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 -1px 10px #929292;
  position: absolute;
  width: 100%;
  bottom: 0;
}
minicalendar li{
  display: inline-block;
  width: 3.4%;
  position: relative;
}
minicalendar li.today{
  background: #4EBD76;
}
minicalendar .dashboard{
  width: 400px;
  border: 1px solid #52E297;
  position: absolute;
  bottom: 0;
  z-index: 1;
  word-break: break-word;
  display: block;
  background: white;
  margin-bottom: 70px;
  padding: 1em;
}
minicalendar li.active {
  background: #C7FFD2;
}
minicalendar li > .date{
  font-size: 1.5em;
  text-align: center;
}
minicalendar li > .status{
  height: 30px
}
/*
 * Utils
 */
.clickable{
  cursor: pointer;
}
.ng-enter
{
  -webkit-animation: fadeInUp 0.5s ; /* Safari/Chrome */
  animation: fadeInUp 0.5s ; /* IE10+ and Future Browsers */
}
.ng-leave
{
  -webkit-animation: fadeOutDown 0.5s ; /* Safari/Chrome */
  animation: fadeOutDown 0.5s ; /* IE10+ and Future Browsers */
}
